<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src=""/><br/>

<input type="file" name='uploadFile' />

<button id='uploadBtn'>Upload</button>
<button id='removeBtn'>Remove</button>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function() {
        let fileCallPath = '';

        function show(fileCallPath){
            console.log(fileCallPath);
            document.querySelector("img").src = '/displayPostThumbnail?fileName='+fileCallPath;
        }

        $("#uploadBtn").on("click", () => {
            var formData = new FormData();

            var inputFile = $("input[name='uploadFile']");
            var file = inputFile[0].files[0];

            formData.append("uploadFile", file);

            $.ajax({//호출
                url : '/uploadPostThumbnail',
                processData : false,
                contentType : false,
                data : formData,
                type : 'POST',
                dataType: 'json',
                success : function(result) {
                    fileCallPath = encodeURIComponent(result.path+"/s_"+result.uuid+"_"+result.name);
                    show(fileCallPath);
                },
            });

        });
        $("#removeBtn").on("click",() => {
            $.ajax({
                url: '/deletePostThumbnail',
                data: {fileName: fileCallPath},
                dataType:'text',
                type: 'POST',
                success: function(result){
                    fileCallPath = '';
                    show(fileCallPath)
                    alert(result);
                }
            }); //$.ajax
        });
    });
</script>
</body>
</html>
